@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');html{
    padding:0;
    margin:0;scroll-behavior: smooth;
}
.navbar .navbar-brand{
    font-size: 1.6rem;font-family: 'Orbitron', sans-serif;
}

.side-nav{
    position: fixed;
    z-index:2;
    padding-left: 10px;
    width:0px;
    height:100vh;
    background-color:#add6ff;
    overflow: hidden;
    transition: 0.2s;
}
.side-nav a:hover{
    color:rgb(168, 168, 168);
    text-decoration: none;
}
#close{
    margin-top: 16px;
    margin-bottom: 10px;
    margin-left: 5.5px;
}

.side-nav a{
    text-decoration: none;
    color:black;
   
}
.closebtn{
    font-size: 50px;
    text-decoration: none;
    position:relative;
    color:black;

}
#df{
    font-family: 'Orbitron', sans-serif;
}
.startbtn{
    font-size: 44px;
    color:white;
    text-decoration: none;
    position: absolute;
    color:black;
    left:0px;
}
.jumbotron{
    padding:0;
    margin:0;
}

@media all and (max-width:500px){
    
    #main{
        font-size:33px;
     }
     
     #le{
        font-size: 16px;
    }
    #a h3{
        font-size: 23px;
    }
   
}
@media all and (max-width:350px){
   #main{
       font-size:25px;
    }
   
    #le{
        font-size: 15px;
    }}